<p>
  <span class="badge badge-secondary date-box">
    <i class="fa fa-calendar"></i>
    {{ d | date:'longDate' }}
  </span>
</p>

<br-create-book (bookCreated)="createBook($event)"></br-create-book>

<br-book
  *ngFor="let b of books"
  [book]="b"
  (rated)="reorderBooks($event)"></br-book>

<strong>Anzahl Bücher:</strong> {{ books.length }}

<!-- <ng-container *ngFor="let b of books;
                      index as i;
                      even as e">

  {{ i + 1 }}.

  <br-book
    [book]="b"
    [even]="e"
    ></br-book>
</ng-container> -->
