<p>
  <span class="badge badge-secondary">
    <i class="fa fa-calendar"></i>
    {{ d | date:'longDate' }}
  </span>
</p>


<div>
  ISBN:
  <input name="isbn" #isbn><br>

  Titel:
  <input name="title" #title><br>

  Beschreibung:
  <textarea name="description" #description></textarea><br>
  <button (click)="add(isbn, title, description)">Hinzufügen</button>
</div>



<br-book
  *ngFor="let b of books"
  [book]="b"
  (rated)="reorderBooks($event)"></br-book>


<!-- <ng-container *ngFor="let b of books;
                      index as i;
                      even as e">

  {{ i + 1 }}.

  <br-book
    [book]="b"
    [even]="e"
    ></br-book>
</ng-container> -->
